#header.overlay{
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background: #d1bd98

}

#header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merienda', cursive;
    letter-spacing: 5px;
    font-size: 50px;
}